.userform{
  margin: 5%;
}

#infoform,#pwdform {
  display: inline-block;
  width: 45%;
  vertical-align: top;
  margin: 2%;
  border: 1px solid black;
  padding: 2%;
}

.inline{
  display: inline-block;
}

.retDash{
  text-align: right;
  margin-left: 85%;
}

#descform{
  width: inherit;
  padding: 2%;
  margin: 2%;
}

body{
  background: grey;
}
